{% extends 'base.html' %}

{% block title %}
Happy Birthday Bhavana😊
{% endblock %}


{% block content %}

<body>
    <br>
    <form action="#" method="POST">
        <h2 style="font-family: Overlock; color: rgb(66, 66, 66); font-weight: bolder;">Enter the names that you love to
            be called
            below😊
            </h3>
            <input class="search" type="text" name="name" placeholder="Enter Here😊.." style="font-family: Overlock;" />
            <input class="button" type="submit" value="Click to see the magic" style="font-family: Overlock;" />
    </form>
</body>

{% endblock %}